@import '~antd/dist/antd.css';

.bg-image {
  background-image: url('./static/fitness_background.gif');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100vw;
  height: 85vh;
}

.login-register-card {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 600px;
  margin: -300px 0 0 -200px;
  background-color: white;
  border-radius: 80px;
  opacity: 0.95;
  box-shadow: 0 0 30px gray;
  text-align: center;
}

.sigin-text {
  text-align: center;
  animation: blinker 1.8s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.game-card {
  background-color: white;
  margin: 5px 10px;
  border-radius: 10px;
  box-shadow: 0 0 30px rgb(218, 216, 216);
  border: 1px solid #434AB6;
}


.gamecards_in_gamehall {
  margin-left:50px;
  margin-right: 50px;
}

